<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/07.gaurav/Documents/PavanQA/TutorialNinja"><classes><class name="parallelExe.com.design.pattern.DataProviderDemo"><methods><include name="testLogin"/><include name="test2"/></methods></class><class name="parallelExe.com.design.pattern.DataProviderDemo1"><methods><include name="testLogin"/><include name="test2"/></methods></class></classes></test></suite>